body {
    background-color: black !important;
    font-family: 'Nunito', sans-serif !important;
    color: white !important;
}

.container {
    padding-right: 0px !important;
}

.nunito {
    font-family: 'Nunito', sans-serif !important; 
}

.calistoga {
    font-family: 'Calistoga', cursive !important;
}

.baskerville {
    font-family: 'Baskervville', serif !important;
}

.black-text {
    color: black !important;
}

.center-spaced {
    margin: auto;
    width: 80%;
    border: 3px solid white;
    padding: 65px;
}

.text-48 {
    font-size: 48px;
}

.text-46 {
    font-size: 46px;
}

.text-28 {
    font-size: 24px;
}

.underline {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
}

.custom-button {
    background-color: black !important;
    border-color: white !important;
    border-width: 3px !important;
    border-radius: 0px !important;
}

.third-width {
    width: 30% !important;
    /* margin-right: 2px !important; */
}

.white-box {
    /* margin-right:20px;
    margin-left: -45px !important; */
}

@media only screen and (max-width: 992px) {
    .third-width {
        width: 100% !important;
        margin-bottom: 5px !important;
        /* margin-right: 2px !important; */
    }   
    .white-box {
        /* margin-right:-100px !important;
        margin-left: -100px !important */
    }
}

.half-width {
    width: 65% !important;
    margin-top: 10px;
}

.vote-button {
    width: 65% !important;
    margin-top: 10px;
    font-size: 24px !important;
    font-weight: bold !important;
    margin:0 auto;
    display:block !important;    
}
.space-below-50 {
    margin-bottom: 50px;
}

.space-below-20 {
    margin-bottom: 20px;
}

hr {
    height: 5px !important;
    border-width:0 !important;
    color:white !important;
    background-color:white !important;
    margin-bottom: 20px !important;
}

.fa {
    text-decoration: none;
    color: white !important;
  }