body {
    background-color: black !important;
    font-family: 'Montserrat', sans-serif !important;
    color: white !important;
}

.nunito {
    font-family: 'Nunito', sans-serif !important; 
}

.calistoga {
    font-family: 'Calistoga', serif !important;
}

.baskerville {
    font-family: 'Baskervville', serif !important;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.black-text {
    color: black !important;
}

blockquote {
    margin: auto;
    width: 100%;
    border: 3px solid white;
    padding: 65px;
    background-color: white;
    color: black;
    font-family: 'Calistoga', serif !important;
    font-size: 32px;
}
.quote p {
    color: black !important;
    margin-top: 24px !important;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif !important;
}
.header-image {
    width:10%;
    margin-top: 10px;
}

.text-48 {
    font-size: 48px;
}

.text-46 {
    font-size: 46px;
}

.text-28 {
    font-size: 24px;
}

.underline {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
}

.third-width {
    width: 32% !important;
}

@media only screen and (max-width: 320px) {  
    .text-48 {
        font-size: 32px;
    }
    
    .text-46 {
        font-size: 32px;
    }
    
    .text-28 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 992px) {  
    .center-spaced {
        width: 90%;
        padding: 35px;
    }
    .header-image {
        width:20%;
    }
}

@media only screen and (min-width: 992px) {  
    .sign-button {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .third-width {
        width: 100% !important;
        margin-bottom: 5px !important;
    }
}

.half-width {
    width: 65% !important;
    margin-top: 10px;
}

.custom-button {
    background-color: black !important;
    border-color: white !important;
    border-width: 3px !important;
    border-radius: 0px !important;
    font-weight: bold !important;
    padding-top: .8rem !important;
    padding-bottom: .8rem !important;
}

.custom-button:hover {
    background-color: white !important;
    border-color: black !important;
    color: black !important;
}

.vote-button {
    width: 65% !important;
    margin-top: 10px;
    font-size: 24px !important;
    font-weight: bold !important;
    margin:0 auto;
    display:block !important;    
}

.sign-button {
    margin-top: 10px;
    font-size: 24px !important;
    font-weight: bold !important;
    display:block !important;  
}

/* a.btn:hover {
    color: yellow
} */

.space-below-50 {
    margin-bottom: 50px;
}

.space-below-20 {
    margin-bottom: 20px;
}

hr {
    height: 5px !important;
    border-width:0 !important;
    color:white !important;
    background-color:white !important;
    margin-bottom: 20px !important;
}

.social {
    text-decoration: none;
    color: white !important;
  }

a .social {
    color: white !important;
}

.under {
    /* text-decoration-line: underline; */
    /* text-decoration-style: solid; */
    /* text-decoration-color: white; */
    /* display: inline-block; */
    padding-right: 130px !important;
    padding-left: 0px !important;
    border-bottom: 9px solid white;
    border-bottom-width: 9px;
    border-bottom-style: solid;
    border-bottom-color: white;
    /* font-size: 30px; */
    /* font-weight: bold; */
    margin-bottom: 10px;
    text-decoration-thickness: 1px;
}

.hash {
    margin-right: 8px;
    margin-left: 5px;
}


h1{
    font-family: Calistoga !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 48px !important;
    line-height: 62px;
    color: #FFFFFF;
    border-bottom: 9px solid #FFFFFF;

}

h1 span {
    display: block;
}
header h1 {
    border-bottom: none;
}